.navbar {
    padding: 2.5rem;
  }
.container{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
    transform-origin: 10%;
    transition-duration: 2s;
}
p.bio{
    text-align: left;
    margin: auto 30px;
}
/* img.logo{
    width: 400px;
    height: 300px;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
} */
.logo {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    border-radius: 10%; 
    display: block;
    margin: 50px auto; 
    transition: transform 1s ease, box-shadow 1s ease; 
}
.logo:hover{
    transform: scale(1.1);
}
h1.name{
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 20px;
}
.minipro{
    text-align: center;
    display: flex;
}
.info-pro{
    margin: 0 30px;
}
.activity{
    margin: 0 20px;
}
.certi-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    margin: 50px 20px;
    margin-bottom: 30px;
}

.certi {
    width: 100%;
    max-width: 750px; 
    height: auto; 
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; /* Optional rounded corners */
    transition: transform 1s ease, box-shadow 0.3s ease; 
}
.trans {
    max-width: 100%; 
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.trans:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}
.h-skill{
    font-size: 20px;
    text-align: center;
    margin: 0 50px;
}
.s-skill{
    font-size: 20px;
    text-align: center;
    margin: 0 50px;
}
.certi:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

h5{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}
h6{
    text-align: center;
    font-size: 1.5rem;
    margin-left: 15px;
    margin-right: 15px;
}

.bt ul {
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 40px;
}

.bt ul li {
    display: inline-block; 
    background: rgba(204, 204, 204, 0.5);
    padding: 10px; 
    border-radius: 50%; 
    cursor: pointer;
    transition: background 100ms ease-in-out;
    width: 50px; 
    height: 50px; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.bt ul li i {
    font-size: 24px;
    color: #000; 
}

.bt li:hover {
    background: #ccc;
}

.footer{
    text-align: center;
    padding: 20px 0;
    color: rgb(117, 117, 117);
    margin: 0 10px;
}